*,
::after,
::before {
	box-sizing: border-box;
}

.card-profile {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	max-width: 300px;
	margin: 10px;
	background: #f2f2f2;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
}

.title-name {
	color: #0d7e6a;
	font-size: 18px;
	line-height: 35px;
}

.title-about {
	color: #0d7e6a;
	font-size: 18px;
	line-height: 35px;
	border-bottom: 2px solid #fca73d;
}

.title-help {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
	color: #0d7e6a;
	margin-top: 60px;
}

.help-description {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	color: #333333;
}

.help {
	color: #cc0a0a;
}

.icon {
	text-align: center;
	color: #d8d8d8;
	font-size: 0.9em;
	margin-bottom: 2px;
}

.bio-icon {
	/*
    margin-bottom: 2px;
    left: 545px;
    top: 498px;
    border-radius: 4px;
    display: inline-block;
    float: left; */
	background: #f2f2f2;
	font-size: 1.5em;
	color: #4f4f4f;
	width: 45px;
	height: 45px;
	text-align: center;
}

.bio-h2 {
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
	color: #bdbdbd;
	/* display: inline-block; */
}

.card-help {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	/* max-width: 400px; */
	margin: 10px;
	background: #f2f2f2;
	font-size: 0.8em;
	padding: 20px;
	word-break: break-word;
}

.card-comment {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	/* max-width: 400px; */
	margin: 10px;
	background: #f2f2f2;
	font-size: 0.8em;
	padding: 10px;
}

.help-comment {
	display: flex;
	flex-direction: column;
	border-color: white;
	width: 60%;
}

/* mark as done button */

.mark {
    font-weight: 600;
	font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FCA73D;
	border-radius: 100px;
	
}

.icon-done {
    font-size: 18px;
    margin-left: 5px;
}

.form-comment textarea {
	width: 100%;
	font-size: 1em;
	border: 0 solid #f2f2f2;
	padding: 5px;
	outline: none;
	resize: unset;
}

.rowC {
	display: flex;
	flex-direction: row;
	margin-left: 8%;
	margin-right: 8%;
	padding: 10px;
	justify-content: center;
}

.colR {
	/* display: flex; */
	flex-direction: column;
	display: block;
	float: left;
	padding-left: 20px;
	/* align-items: left; */
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
	/* overflow: auto; */
}

.left {
	float: left;
	color: #333333;
	margin: 20px 0;
}

.right {
	float: right;
	color: #333333;
	margin: 20px 0;
}

/* comment */

.comment-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	/* max-width: 400px; */
	word-wrap: break-word;
	margin: 10px;
	background: #f2f2f2;
	font-size: 0.8em;
	padding: 30px;
}

.comment-up {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.comment-user-name {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #0d7e6a;
}

.link:hover {
	text-decoration-line: none;
}

.comment-user-name:hover {
	color: #fca73d;
}

.comment-text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
}

.error-message {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #CC0A0A;
	margin-top: 8px;
}